.wrapper .button-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
}

.button {
  background-color: #d25778;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  padding: 12.5px;
  width: 170px;
}

.content .icon {
  font-size: 25px;
  color: #fff;
}

.content .icon.fa {
  display: none;
}

.content .text {
  color: #fff;
  font-size: 25px;
  font-weight: 200;
}

.content .text.like {
  margin-left: 10px;
}

.content .text.d {
  display: inline-block;
  opacity: 0;
  transform: translateX(12px);
}

.content .text.number {
  color: #fff;
  margin-left: 10px;
}
